#container {
  display: flex;

  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;

  width: min(900px, 80%);

  flex-direction: column;
}

#nameContainer {
  display: flex;
}

#profilIcon {
  width: 70px;
  height: 70px;

  border-radius: 1000px;

  margin-right: 10px;
  margin-bottom: 40px;
}

#container .title {
  font-size: 25px;

  text-align: left;
}

#container p {
  text-align: left;

  margin-top: 20px;
  margin-bottom: 20px;

  font-size: 20px;
}

a {
  color: var(--main-color-hover);
}

a:hover {
  text-decoration: underline;
}

#comp {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;

  width: min(550px, 95%);

  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

}

#comp p {
  text-align: center;
  font-size: 16px;
  margin: 0;
}

#comp div {
  width: 80px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  border-radius: 10px;
  transition: filter 0.3s ease;
}

#comp div:hover {
  /*
  filter: drop-shadow(-7px -10px 1px rgba(0, 0, 0, 0.20));
  transition: filter 0.3s ease;
  */
}

#comp img {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  user-select: none;
}

.rounded {
  border-radius: 20px;
}

.date {
  display: inline-block;
  text-align: center;

  color: #2e3537;

  font-size: 24px;
}

#formations {
  display: flex;
  flex-direction: column;
  gap: 5px;



  // align-items: center;

  margin-top: 40px;
  margin-bottom: 20px;
}

#formations p {
  //text-align: center;
  margin: 0;

  line-height: 30px;

  font-size: 18px;
}

#formations .title {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
}

#formations arrow {
  transform: rotate(90deg) scale(1.5);
}

.xpHeader {
  color: #7b7b7b;
  font-style: italic;
}

.greenDot {
  border-radius: 100px;
  width: 12px;
  height: 12px;
  background-color: #2cc82c;
  display: inline-block;

  margin-right: 10px;
  margin-bottom: 1px;
}


.grayDot {
  border-radius: 100px;
  width: 7px;
  height: 7px;
  background-color: gray;
  display: inline-block;

  margin-right: 7px;
  margin-bottom: 4px;
}

hr {
  width: 100%;
  height: 2px;

  border: none;
  border-radius: 20px;

  margin-top: 10px;
  margin-bottom: 10px;

  background-color: rgba(227, 227, 227, 0.81);
}
