#footer {
  height: 120px;

  display: flex;
}

hr {
  width: 80%;
  height: 2px;

  margin: 60px auto 30px;

  border: none;

  background-color: rgba(178, 178, 178, 0.17);
}

p {
  text-align: center;
  width: 100%;
}
